[Desktop Entry]
Name=PariGP
Name[pl]=PariGP
Comment=Program for number theory computations
Comment[pl]=Program do obliczeñ z teorii liczb
Icon=parigp.xpm
Exec=parigp
Terminal=1
Type=Application
